@charset "utf-8";

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}











ul {
  list-style: none;
}



body {
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

.p1-gradient-bg,
.thumb .overlay-bg {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.p1-gradient-color {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

.site-service-item .Percent {
  font-size: 30px;
  color: #972E0D;
}


.white {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-family: 'ONE-Mobile-POP';
  font-size: 20px;
}

h2 {
  font-size: 25px;
}

a {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  color: #bac964;
}

a:hover,
a:focus,
a:active {
  color: #b2c251;
  text-decoration: none;
}





.text1 {
  z-index: 0;
  position: relative;
}

.text1::before {
  z-index: -1;
  content: attr(data-content);
  position: absolute;
  left: 20PX;
  /* 글자 바깥쪽으로 나갔으면 하는 테두리 크기의 두 배 */
  -webkit-text-stroke: 6px #fff;
}


.resume {
  position: relative;
  padding-left: 25px;
  width: 100%;
  box-sizing: border-box;
}

/* .resume:before {
  content: "";
  position: absolute;
  top: -8px;
  width: 10px;
  height: 10px;
  background-color: #e1e1e1;
  left: 54%;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.resume:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 10px;
  background-color: #e1e1e1;
  left: 50%;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.timeline-body {
  font-family: 'NanumSquareRound';
}


.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: 0;
  background-color: #fff;
}

.timeline>li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  float: left;
  position: relative;
  width: 100%;
}

.timeline-content {
  padding: 5px 20px 0 20px;
  background-color: white;
  border-radius: 10px;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .posted-date {
  position: relative;
  text-align: center;
 background-color: #F89737;
  left: 20px;
}


.timeline>li .posted-date .month {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  color: #2c3e50;
  top: 0;
  float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline-heading h3 {
  font-size: 20px;
  line-height: 28px;
  color: #ce531f;
}

.timeline-heading span {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
}





@media(min-width:992px) {
  .timeline:before {
      left: 50%;
      margin-left: 31.5px;
  }

  .timeline>li {
      margin-bottom: 15px;
      min-height: 100px;
  }

  .timeline>li .posted-date {
      position: absolute;
      text-align: center;
      background-color: #F89737;
  }

  .timeline>li .timeline-panel {
      float: left;
      width: 43%;
      text-align: right;
      /* border: 1px solid #eee; */
      position: relative;
  }

  .timeline-content {
      position: relative;
      padding: 24px;
      background-color: #fff;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
      border-radius: 10px;
  }

  .timeline-content::after {
      border: 1px solid #eee;
      width: 100%;
      position: absolute;
      content: "";
      bottom: -3px;
      height: 10px;
      left: 0;
      z-index: -1;
  }

  /* .timeline>li .timeline-content:hover {
      background: #68c3a3;
      color: #fff;
  } */

  .timeline>li .timeline-panel::before,
  .timeline>li.timeline-inverted .timeline-panel::before {
      content: "";
      top: 25px;
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
  }

  .timeline>li .timeline-panel::before {
      left: 100%;
      border-left: 12px solid #ECECEC;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
  }

  /* .timeline>li .timeline-panel:hover::before {
      border-left: 12px solid #68c3a3;
  } */

  .timeline>li.timeline-inverted .timeline-panel::before {
      right: 100%;
      border-right: 12px solid #ECECEC;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
  }

  /* .timeline>li.timeline-inverted .timeline-panel:hover::before {
      border-right: 12px solid #68c3a3;
      border-left: 0;
  } */

  .timeline>li .timeline-panel::after,
  .timeline>li.timeline-inverted .timeline-panel::after {
      content: "";
      top: 25px;
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
  }

  .timeline>li .timeline-panel::after {
      left: 100%;
      margin-left: -2px;
      border-left: 12px solid #FFFFFF;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
  }

  /* .timeline>li .timeline-panel:hover::after {
      border-left: 12px solid #68c3a3;
  } */

  .timeline>li.timeline-inverted .timeline-panel::after {
      right: 100%;
      margin-right: -2px;
      border-right: 12px solid #FFFFFF;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
  }

  /* .timeline>li.timeline-inverted .timeline-panel:hover::after {
      border-right: 12px solid #68c3a3;
      border-left: 0;
  } */

  .timeline>li .posted-date {
      left: 50%;
      width: 120px;
      margin-left: -60px;
      margin-top: 28px;
  }

  .timeline>li .posted-date .month {
      float: none;
  }

 .me {
    width: 500px;
  }
}





.parent-nav-link-padding,
.site-navbar .navbar-nav>li>a {
  padding: 15px 20px !important;
}

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: #fff;
}

.site-navbar .navbar-brand {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.site-navbar .navbar-brand:hover {
  color: #fff;
}

.site-navbar.bg-light {
  background: transparent !important;
}

@media (max-width: 991.98px) {
  .site-navbar.bg-light {
    background: #fff !important;
    top: 0;
  }

  .site-navbar.bg-light .navbar-brand {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #000;
    padding: 2px 10px !important;
    color: #000;
  }
}

.site-navbar .navbar-nav>li>a {
  color: #ce531f !important;
  font-size: 25px;
  font-family: 'ONE-Mobile-POP';
  font-weight: 400;
  letter-spacing: .1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.site-navbar .navbar-nav>.text1>a:hover {
  font-size: 30px;
}



@media (max-width: 991.98px) {
  .site-navbar .navbar-nav>li>a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.site-navbar .navbar-nav.active>a {
  color: #bac964 !important;
}

.site-navbar.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.site-navbar.scrolled.bg-light {
  background: #fff !important;
}

.site-navbar.scrolled .navbar-brand {
  display: inline-block;
  font-size: 18px;
  border: 2px solid #000;
  padding: 2px 10px !important;
}

.site-navbar.scrolled.awake,
.site-navbar.scrolled.sleep {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-navbar.scrolled.awake {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background: #fff !important;
}

.site-navbar.scrolled.sleep {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background: #bac964 !important;
}

.site-navbar.scrolled .navbar-brand {
  color: #000;
}

.site-navbar.scrolled .dropdown>a:before {
  color: rgba(0, 0, 0, 0.4);
}

.site-navbar.scrolled .navbar-nav>li>a {
  color: rgba(0, 0, 0, 0.7) !important;
}

.site-navbar.scrolled .navbar-nav>li>a:hover {
  color: #E4881F !important;
}

.site-navbar.scrolled .navbar-nav>li>a.active {
  color: #E4881F !important;
}

.site-navbar.scrolled .navbar-nav>li.active>a {
  color: #E4881F !important;
}

.site-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.site-hero video {
  width: 100%;
  display: block;
}

.site-hero .mobile {
  display: none;
}


.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.site-hero h1 strong {
  font-weight: 800;
}

@media (min-width: 768px) {
  .site-hero h1 {
    font-size: 70px;
  }
}

@media (max-width: 700px) {
  .site-hero video {
    display: none;
  }
  
  .site-hero .mobile {
    display: block;
  }
  
}


.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
}

.site-hero .lead {
  line-height: 2;
}

.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

.site-section {
  padding: 5em 0;
}

#section-about {
  background-color: #FFC06D;
}


.box{
  background-color: white;
  border-radius: 50px;
  padding: 30px 30px 1px;
}




#section-portfolio {
  background-color: #FFC06D;
}


.me {
  border-radius: 50px;
  margin-top: 50px;
  border: white 3px solid;
}



.thumb {
  border-radius: 50px;
  border: white 3px solid;
  overflow: hidden;
}


.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}

.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
}

.section-heading h2 strong {
  font-weight: 800;
}

.section-heading.text-center h2:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lead {
  font-weight: 200;
  line-height: 1.5;
  font-family: 'NanumSquareRound';
}

.mb-5 {
  font-family: 'NanumSquareRound';
}

.site-service-item {
  background: #fff;
  padding: 30px;
  border-radius: 50px;
}

.site-service-item .icon {
  display: block;
  margin-bottom: 50px;
  background: #edf0f2;
  background: #EFAD2A;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}

.site-service-item .icon span {
  font-size: 40px;
  color: #FFA900;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.site-service-item h3 {
  font-size: 20px;
  font-weight: 200;
  color: #FFA900;
}

.site-link {
  position: relative;
}

.site-link i {
  position: relative;
  top: 2px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-link:hover i {
  position: relative;
  margin-left: 20px;
}

.site-list {
  padding: 0;
  margin: 0;
}

.site-list li {
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.site-list li:before {
  font-family: 'icomoon';
  position: absolute;
  top: .1em;
  left: 0;
}

.site-list li.site-check {
  padding-left: 30px;
}

.site-list li.site-check:before {
  color: #bac964;
  font-size: 16px;
  content: "\ebd3";
}

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2rem;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #b2c251;
}

.filters-content .row {
  height: auto !important;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
}

.single-portfolio .relative {
  margin-bottom: 20px;
}

.single-portfolio .p-inner {
  text-align: center;
}

.single-portfolio .p-inner h4 {
  font-size: 20px;
}


#section-portfolio .row h2 {
  font-size: 30px;
  color: #E4881F;
}


.scale {
  transform: scale(1.2);
}



.single-portfolio .p-inner .cat a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #E4881F;
  border-radius: 50px;
  color: #E4881F;
  font-size: 12px;
  text-transform: uppercase;
  background-color: white;
  font-family: 'NanumSquareRound';
}

.single-portfolio .p-inner .cat a:hover {
  color: white;
  background-color: #E4881F;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text {
  color: white;
  font-size: 25px;
  padding: 16px 32px;
}

.single-portfolio {
  border-radius: 5px;
}

.thumb:hover {
  transition: 0.3;
}

.mmm:hover .cat a {
  color: white;
  background-color: #E4881F;
}

.single-portfolio:hover .thumb .overlay-bg {
  opacity: .85;
}

.thumb .overlay-bg {
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .thumb .overlay-bg {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}







.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 200;
  display: none;
}

.popup i {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 35px;
  color: #333;
}

.popup div {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 800px;
}

.popup img {
  width: 60%;
}

.popup ul {
  margin: 0;
  padding: 30px;
  width: 40%;
  box-sizing: border-box;
  background-color: #fff;
  color: #222;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup h5 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #222;
  font-weight: bold;
}

.popup p {
  margin-bottom: 0;
}

.hidden {
  overflow: hidden;
}

@media (max-width: 768px) {
  .popup div {
    display: block;
  }

  .popup img,
  .popup ul {
    width: 100%;
  }

  .popup ul li:nth-child(1) {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 374px) {
  .popup ul {
    padding: 20px;
  }
}


.pts {
  width: 50px;
  padding-top: 25px;
}

#section-skill {
  background-color: #F89737;
}

#section-resume {
  background-color: #F89737;
}

#section-contact{
  background-color: #EC621B;
}

.site-footer {
  background-color: #972E0D;
}


.resume-item {
  padding: 30px;
  background: #222;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 4px solid transparent;
  border-radius: 7px;
}

.resume-item .date {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.resume-item .school {
  display: block;
  font-size: 16px;
}

.resume-item h3 {
  color: #bac964;
  font-size: 20px;
}

.resume-item .school {
  color: rgba(255, 255, 255, 0.3);
}

.resume-item *:last-child {
  margin-bottom: 0;
}

.blog-entry {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: #333;
}

.blog-entry:hover,
.blog-entry:active,
.blog-entry:focus {
  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  top: -2px;
}

.blog-entry a {
  color: #fff;
}

.blog-entry .blog-entry-text {
  border-top: none;
  padding: 30px;
}

.blog-entry .blog-entry-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}


.blog-entry a:hover h3 {
  color: #bac964;
}

.blog-entry .meta {
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.4);
}


.site-contact-details {
  display: flex;
  justify-content: space-between;
  font-family: 'NanumSquareRound';
}

.site-contact-details,
.site-contact-details li {
  padding: 0;
  margin: 0;
}

.site-contact-details li {
  list-style: none;
  margin-bottom: 20px;
}

.site-contact-details li>span {
  color: #fff;
  letter-spacing: .1em;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

@media (max-width: 768px) {
  .site-contact-details {
    flex-direction: column;
  }
}

.site-footer {
  padding: 3em 0;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer .social-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #333;
  position: relative;
  border-radius: 50%;
  font-size: 22px;
  margin: 0 10px;
}

.site-footer .social-item>span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-47 .block-47-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  display: block;
}

.block-47 .block-47-image img {
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.block-47 .block-47-quote {
  margin-left: 40px;
  padding: 30px;
  background: #333;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}

.block-47 .block-47-quote:before {
  content: "";
  border: 1px solid red;
  z-index: 2;
  position: absolute;
  left: -15px;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.block-47 .block-47-quote .block-47-quote-author {
  font-size: 14px;
  color: #666666;
}

.letter-spacing {
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5) !important;
}
